*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a2a33;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* global styling */
.container{
  max-width: 375px;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
}
.self-contianer{
  position: relative;
  left: 0;
  top: 0;
  transform: translate(0,17%);
}
h1,h2,h3,h4,h5,h6,p,small{
  color: #a8bfc9;
  font-weight: bold;
}
/* img{
  width: 100%;
  height: auto;
} */

